* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    position: relative;
}
.ustun {
    width: 100px;
    height: 100px;
}

body {
    background-image: radial-gradient(rgba(197, 194, 5, 0.507), rgba(14, 224, 14, 0.527));
    background-position: center;
    background-attachment: fixed;
    background-size: 40px 1px;
}

article {
    text-align: center;
    width: 90%;
    margin: auto;
    max-width: 1000px;
    margin-top: 140px;
}

article h1,
h2 {
    color: rgb(34, 33, 34);
    text-shadow: 2px 2px 5px green;
}

.nav {
    transition: transform 2s linear;
    width: 300px;
    height: 300px;
    background-color: rgba(248, 94, 47, 0.993);
    position: fixed;
    top: -150px;
    left: -150px;
    border-radius: 50%;
    box-shadow: 2px 2px 10px 2px rgb(255, 81, 0);
z-index: 10;
}

.nav .ustun {
    position: absolute;
    top: 190px;
    left: 190px;
}

.nav .yopiq {
    position: absolute;
    top: 60px;
    left: 70px;
}

.nav.active {
    transition: transform 2s linear;
    transform: rotate(180deg);
}

.nav i {
    font-size: 50px;
    color: white;
    text-shadow: 0 0 10px rgb(179, 179, 184);
}

.navbar {
    position: absolute;
    bottom: 10px;
    left: -180px;
    z-index: 10;
    transition: transform 3s linear;
}

.navbar a {
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-weight: 800;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
text-shadow: 2px 2px 3px rgba(63, 63, 230, 0.932);
}

.navbar a i {
    margin-right: 10px;
    margin-bottom: 10px;

}

.navbar.active .home {
    transition: transform 2s linear;
    transform: translateX(190px);
}

.navbar.active .user {
    transition: transform 2s linear;
    transform: translateX(210px);
}

.navbar.active .info {
    transition: transform 2s linear;
    transform: translateX(230px);
}
article.active{
transform: rotateZ(-10deg) translateX(60px);
transition: transform 2s ease-in-out;
}
article{
    transition: transform 2s ease-in-out;
}